@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@300&display=swap');

body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color:aliceblue; 
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #0c2ec4d1;
}
nav {
    display: flex;
    justify-content: space-around;
}
h1{
    font-family: 'Gloock';
}
h2{
    margin: 0;
    font-family: 'Gloock';
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}
nav a {
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 55px;
}
main section {
    text-align: center;
}
nav a:hover {
    background-color: black;
    color: #ffffff;
}
.home-title {
    color: black;
    font-size: 4em;
    margin-top: 40px;
}
.smoll-title{
    padding-top: -20px;
    font-size: 25px;
}
.home-text-one, .home-text-two, .home-text-three{
    align-self: center;
}
.home-text-one, .home-text-three{
    padding-left: 40px;
}
.title{
    padding-left: 55px;
}
.pic-1 {
    width: 400px;
    height: 400px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.pic-2 {

    width: 600px;
    height: 350px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.pic-3 {
    width: 400px;
    height: 400px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
footer {
    background-color: #0c2ec4d1;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
/* About */
.about-home-title {
    color: black;
    font-size: 4em;
    margin-top: 40px;
    padding-left: 50px;
}
.about-text-one, .about-text-two, .about-text-three{
    text-align: left;
    padding-left: 50px;

}
.about-text-two{
    background-color: #1E425D;
    color: #ffffff;
}
.move{
    padding-top: 20px;
    padding-right: 15;
}
.about-text-three{
    padding-top: 15px;
}
h4{
    color: black;
}
footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer a:hover {
    color: black;
}
footer .social img {
    padding-top: 15px;
}
.backround {
    height: 725px;
    background-color: #000000;
}
body {
    background-color:aliceblue; 
}
nav a:hover {
    background-color: black;
}


.logo {
    width: 120px;
}
.icon {
    width: 80px;
    padding-top: 10px
}

footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}  
main section img {
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.ep-home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
#background{
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg{
    grid-column: 6/10;
    grid-row: 6/7;
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.blog{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
}
.blog-title{
    color: rgb(108, 108, 108);
    padding-top: 10px;
    padding-bottom: 30px;
    grid-column: 1/10;
    grid-row: 1/2;
}
.first-title, .second-title, .third-title{
    color: rgb(108, 108, 108);
}
.first-post{
    grid-column: 2/4;
    /* grid-row: 2/3; */
}
.second-post{
    grid-column: 5/7;
    /* grid-row: 2/3; */
}
.third-post{
    grid-column: 2/4;
    /* grid-row: 2/3; */
}
.bigboy{
    grid-column: 5/7;
}
.home-image-2 {
    grid-row: 2/3;

}



#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
       








@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;

    }
    .home-title h1 {
        padding-left: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

