@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@300&display=swap');

body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color:aliceblue; 
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #0c2ec4d1;
}
/* Navbar container */
nav {
    overflow: hidden;
    /* background-color: #0c2ec4d1; */
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  nav a {
    float: left;
    font-size: 16px;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    padding: 55px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  nav a:hover, .dropdown:hover .dropbtn {
    background-color: #000000d1;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
nav {
    display: flex;
    justify-content: space-around;
}
h1{
    font-family: 'Gloock';
}
h2{
    margin: 0;
    font-family: 'Gloock';
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}
nav a {
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 55px;
}
main section {
    text-align: center;
}
nav a:hover {
    background-color: black;
    color: #ffffff;
}
.home-title {
    color: black;
    font-size: 4em;
    margin-top: 40px;
}
.smoll-title{
    padding-top: -20px;
    font-size: 30px;
}
.home-text-one, .home-text-two, .home-text-three{
    align-self: center;
    font-size: 20px;
}
.home-text-one, .home-text-three{
    padding-left: 40px;
}
.title{
    padding-left: 55px;
}
.pic-1 {
    width: 400px;
    height: 400px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.pic-2 {

    width: 600px;
    height: 350px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.pic-3 {
    width: 400px;
    height: 400px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
footer {
    background-color: #0c2ec4d1;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
h4{
    color: black;
}
footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer a:hover {
    color: black;
}
footer .social img {
    padding-top: 15px;
}
.backround {
    height: 725px;
    background-color: #000000;
}
body {
    background-color:aliceblue; 
}
nav a:hover {
    background-color: black;
}
.logo {
    width: 120px;
}
.icon {
    width: 80px;
    padding-top: 10px
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}  
main section img {
    box-sizing: border-box;
}
/* main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
} */
.home-grid-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.home-grid-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
h3{
    font-size: 4em;
    font-family: 'Gloock';
    padding-left: 50px;
}
.ep-home-title{
    font-size: 45px;
    padding-left: 75px;
}
.ep-home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.ep1-head{
    grid-column: 1/9;
    grid-row: 1;
}
.ep1{
    grid-column: 1/2;
    grid-row: 2;
}
.ep1-text{
    grid-column: 2/9;
    grid-row: 2;
}
.ep2-head{
    grid-column: 1/9;
    grid-row: 3;
}
.ep2{
    grid-column: 1/2;
    grid-row: 4;
}
.ep2-text{
    grid-column: 2/9;
    grid-row: 4;
}
.ep1-head, .ep1, .ep1-text, .ep2-head, .ep2, .ep2-text{
    align-self: center;
    text-align: left;
    padding-left: 50px;
}
.ep1-text, .ep2-text{
    font-size: 20px;
}
.ep1-head, .ep2-head{
    font-size: 20px;
}
.ep-link{
    grid-column: 1/5;
    grid-row: 6;
    padding-left: 50px;
    text-align: left;
    font-size: 20px;
}

/* About */
.about-home-title {
    color: black;
    font-size: 4em;
    margin-top: 40px;
    padding-left: 50px;
}
.about-text-one, .about-text-two, .about-text-three{
    text-align: left;
    padding-left: 50px;
    /* font-size: 20px; */
}
.about-text-one{
    font-size: 20px;
}
.about-text-two{
    background-color: #1e425db3;
    color: #ffffff;
}
.about-title1{
    padding-top: 45px;
}
.move{
    padding-top: 20px;
    padding-right: 15px;
}
.about-text-three{
    padding-top: 25px;
}
.about-image-1, .about-image-2, .about-image-3{
    align-self: center;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      

       








@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;

    }
    .home-title h1 {
        padding-left: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}}